<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Conteúdos</h2>
        {% for item in contents %}
            <div class="content-item">
                <h3>{{ item['title'] }}</h3>
                <p>{{ item['content'] }}</p>
                {% if item['image_path'] %}
                    <img src="{{ url_for('static', filename=item['image_path'].split('static/')[1]) }}" alt="Imagem" class="content-image">
                {% endif %}
                {% if item['video_path'] %}
                    <video controls class="content-video">
                        <source src="{{ url_for('static', filename=item['video_path'].split('static/')[1]) }}" type="video/mp4">
                        Seu navegador não suporta a tag de vídeo.
                    </video>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <a href="{{ url_for('home') }}" class="button">Voltar para Home</a>
    </div>
</body>
</html>
